/* Hide "On GitHub" section from versions menu */
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(3) {
    display: none;
}
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(2) {
    display: none;
}